<section id="about" class="py-60 bg-white text-center">
  <h2 class="text-3xl font-bold">À propos de moi</h2>
  <p class="text-gray-600 mt-4 px-8 md:px-32">Je m'appelle Angel, j'ai 23 ans et je suis passionné par le développement web. Après avoir obtenu mon diplôme en développement web et mobile, j'ai intégré une alternance pour préparer mon titre de Concepteur Développeur d'Applications (CDA).

    Tout au long de mon parcours, j'ai exploré plusieurs technologies comme Angular, Tailwind, SpringBoot et Python, mais c'est dans le développement front-end que je prends le plus de plaisir. J'aime concevoir des interfaces modernes et optimisées pour offrir une expérience utilisateur fluide et intuitive.

    Dans mon projet professionnel, j'ai réalisé une refonte complète d'un espace candidat en utilisant Angular et Tailwind, ce qui m'a permis d'améliorer mes compétences en UI/UX, performance et intégration responsive.

    Curieux et toujours en quête d'amélioration, je continue d'apprendre et d'expérimenter pour devenir un développeur encore plus performant et créatif.</p>
</section>
